<div class="restaurant">
	<table class="table .table-striped">
		<caption class="restaurant_table">Add Restaurant</caption>
			<%= form_for(@restaurant) do |f| %>
				<% @response.businesses.each do |business| %>
				<tr>
					<td>
						<%= radio_button_tag(:name, "name") %>
						<%= label_tag(:name, business.name) %>
					</td>
				</tr>
			<% end %>
	</table>
  			<%= f.submit "Add Restaurant", class: "btn btn-large btn-primary" %>
    	<% end %>
	</div>




