<div class="center">
<h1> Thank you for adding restaurant! </h1>
</br>
</br>
<%= link_to "Review burger", new_review_path, class: "btn btn-large btn-primary" %>
<%= link_to "Back to rankings", root_path, class: "btn btn-large btn-primary" %>
</div>
