/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.css
 *= require_self
 *= require_tree .
 */

 body {
  background-color: #F2F7F7
 }

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/*CSS for the restaurant views:*/
/*search.html.erb: */
.restaurant_table {
  font-size: 30px;
}

.restaurant {
  width: 718px;
  height: 200px;
  text-align: left;
}

.table-striped {
  height: 150px;
}

/*CSS for the review views:*/
/*search.html.erb: */

.review {
  text-align: center;
}

.center {
  text-align: center;
}


.center-table {
  margin: 0 auto !important;
  float: none !important;
}
