// Place all the styles related to the Burgers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bk-image {
	height: 100px;
}

.mont {
  font-family: 'Montserrat', sans-serif;
  color: #165A8B;
  font-size: 42px
}

.mont2 {
  font-family: 'Montserrat', sans-serif;
  color: #165A8B;
  font-size: 32px
}