// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant_table {
  font-size: 30px;
}

.restaurant {
  width: 718px;
  height: 200px;
  text-align: left;
}

.table-striped {
  height: 150px;
}
