// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#review-form {
  text-align: center;
  margin: 0 auto; 
  width: 400px;
}

#review-comments {
  text-align: center;
  margin: 0 auto; 
  width: 600px;
}

#review-button {
  text-align: center;
  margin: 0 auto; 
  width: 300px;
}

.center {
  text-align: center;
  margin: 0 auto;
  
}

.center-table {
  margin: 0 auto !important;
  float: none !important;
}

