<div class="center">
<h1> Submit Review </h1>
</div>




<%= form_for @review do |f| %>

  <%#= f.label :restaurant_id, 'Restaurant' %><br />
  <%#= f.collection_select :restaurant_id, Restaurant.order(:name), :id, :name, include_blank: true %>

  <%#= f.label :burger_name %><br />
  <%#= f.grouped_collection_select :burger_name, Restaurant.order(:name), :burgers, :name, :id, :burger_name, include_blank: true %>

  <%= f.label :burger_id %><br />
  <%= f.grouped_collection_select :burger_id, Restaurant.order(:name), :burgers, :name, :id, :burger_name, include_blank: true %>

  
  <%= f.submit "Submit Review", class: "btn btn-large btn-primary" %></br></br>
<% end %>
