<div class="review">
<h1> Thank you for submitting your review! </h1>
</br>
</br>
<%= link_to "Review another burger", new_review_path, class: "btn btn-large btn-primary" %>
<%= link_to "Back to rankings", root_path, class: "btn btn-large btn-primary" %>
</div>